// COLORS
$color-primary: #e600de;
$color-primary--light: #ff7ffb;
$color-primary--dark: #790075;

$color-secondary: #00c120;
$color-secondary--light: #80ff95;
$color-secondary--dark: #00520e;

$color-tertiary: #0057c1;
$color-tertiary--light: #6baeff;
$color-tertiary--dark: #00295b;